
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('bootstrap-4/css/bootstrap.min.css');

.col-6
{
    padding: 20px;
 
}
a {
    cursor: pointer;
    cursor: hand;
  }

  .mat-radio-button
  {
      margin-top: 5px;
  }