table{
    width: 100%;
}
.mat-column-select {
    overflow: initial;
  }
/*
thead{
    font-weight:bold;
}

table, td{
    border: 1px solid black;
}
td{
    padding: 10px;
}
.message{
    padding: 10px;
    background-color: gainsboro;
}
*/