<div class="container">
  <div class="row">

      <div class="col-6">
      


<h5>Add to VehicleMake</h5>
<form (ngSubmit)="onSubmit()" #carForm="ngForm">
  <div class="form-group">


      <label for="brdc">Choice of Brand:</label>
      <select [(ngModel)]="car.makeid" (change)="toggle()" name="makeid" class="form-control" id="makeid" required>
        <option selected value="-1">Create new brand</option>
        <option *ngFor="let bran of brandc.item1" [ngValue]="bran.id">{{bran.name}}</option>
      </select>

      <label *ngIf="show" for="name">Brand</label>
      <input *ngIf="show" type="text" class="form-control" id="makename"
               required
               [(ngModel)]="car.makename" name="makename"
               #name="ngModel">
   
      <label *ngIf="show" for="abrv">Slogan</label>
      <input *ngIf="show" type="text" class="form-control" id="makeabrv"
               required
               [(ngModel)]="car.makeabrv" name="makeabrv"
               #name="ngModel">
    <label for="name">Model</label>
    <input type="text" class="form-control" id="modelname"
             required
             [(ngModel)]="car.modelname" name="modelname"
             #name="ngModel">
 
    <label for="abrv">Color</label>
    <input type="text" class="form-control" id="modelabrv"
             required
             [(ngModel)]="car.modelabrv" name="modelabrv"
             #name="ngModel">
    
  </div>

  <button type="button" class="btn btn-default" (click)="newCar(); carForm.reset()">Create New Car</button>
</form>
<p class="message" *ngIf="results">Added:{{results}} Object</p>
</div>
</div>
</div>