<div class="container">
  <div class="row">
      <div class="col-6">
        <h5>Add to VehicleMake</h5>
        <form (ngSubmit)="onSubmit()" #carForm="ngForm">
          <div class="form-group">
              <label for="brdc">Choice of Brand:</label>
              <select [(ngModel)]="VehicleMake.id" (change)="toggle()" name="makeid" class="form-control" id="makeid" required>
                <option selected value="00000000-0000-0000-0000-000000000000">Create new brand</option>
                <option *ngFor="let content of VehicleMakeArray" [ngValue]="content.id">{{content.name}}</option>
              </select>

              <label *ngIf="show" for="name">Brand</label>
              <input *ngIf="show" type="text" class="form-control" id="makename"
                      required
                      [(ngModel)]="VehicleMake.name" name="makename"
                      #name="ngModel">
          
              <label *ngIf="show" for="abrv">Slogan</label>
              <input *ngIf="show" type="text" class="form-control" id="makeabrv"
                      required
                      [(ngModel)]="VehicleMake.abrv" name="makeabrv"
                      #name="ngModel">
            <label for="name">Model</label>
            <input type="text" class="form-control" id="modelname"
                    required
                    [(ngModel)]="VehicleModel.name" name="modelname"
                    #name="ngModel">
        
            <label for="abrv">Color</label>
            <input type="text" class="form-control" id="modelabrv"
                    required
                    [(ngModel)]="VehicleModel.abrv" name="modelabrv"
                    #name="ngModel">
          </div>

          <button type="button" class="btn btn-default" (click)="newCar(); carForm.reset()">Create New Car</button>
        </form>
        <p class="message" *ngIf="results">Added:{{results}} Object</p>
    </div>
  </div>
</div>