<div class="text-left">
 

  <nav class="navbar navbar-expand-sm bg-light">
      <h3>
          Cars administration
        </h3>
      <ul class="nav justify-content-end">
          <li class="nav-item">
              <a class="nav-link" routerLink="admin/">Api Data</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="add/">Add Data</a>
          </li>
      </ul>
      <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
        <div class="form-group">
            <input type="text" id="search"
                     required
                     [(ngModel)]="search" name="search"
                     #name="ngModel"><button type="button" class="btn btn-default" (click)="searchVehicles();searchForm.reset()">Search</button>
    
        </div>
      
        
      </form>
  </nav>

              
  <router-outlet>

  </router-outlet>

</div>